@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {

  background-image: url("bg.jpg") ;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; 
  
}


