/* 
nav{
    
    width:90%;
    margin: 1% auto;
    height: 50px;
    border:1px solid rgba(0, 167, 233, 1);
    border-radius:15px ;
    padding: 6px;
    background-color: transparent;
    text-transform: uppercase;
    
} */






 /** Examples */ 
.bg-primary {
 color: var(--clr-text-); 
 background-color: var(--clr-background-); 
}

.border {
    box-shadow: 2px 1px 10px var(--background-);
    transition: all .5s ease;
}

.border:hover {
    
    border-color: var(--text-);
}


.border-lg {
    box-shadow: 2px 1px 4px var(--background-);
    transition: all .5s ease;
    
}

.nav-btn {
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .75rem;
    border-radius: 3px;
    padding-inline: 16px;
    transition: all .3s ease;
}

.nav-btn:hover {
    transform: translateY(-3px);
}

.mobile-nav {
    transition: all .3s ease;
}

.mobile-nav:hover {
    transform: translateY(-3px);
}

.border-lg:hover {
    color: var(--Ltext-);
}

.moon {
    transform: scale(.7);
    transition: all .1s ease;
}

.moon:hover {
    opacity: .8;
    transform: scale(.9);
}

.sun {
    transform: scale(.7);
    color: #010b18;
    transition: all .1s ease;
    color: #F4B400;
}

.sun:hover {
    opacity: .8;
    transform: scale(.9);
}

.card {
    background-color: var(--clr-surface-a10);
    color: var(--clr-white-a10);
}

.dark-mode {
    color: #ffffff;
    background-color: #222222;
}

.primary {
    background-color: var(--clr-secondary-);
    color: var(--clr-text-);
}

nav li:nth-child(1){
    color: #4285F4;
}

nav li:nth-child(2){
    color: #DB4437;
}

nav li:nth-child(3){
    color: #F4B400;
}

nav li:nth-child(4){
    color: #0F9D58;
}

.btn {
    box-shadow: none;
    color: var(--Ltext);
    font-weight: 400;
    border-color: #0071bc;
    transition: all .5s ease;
    opacity: .8;
}

.btn:hover {
    background-color: #0071bc ;
    color: #fff;
    box-shadow: none;
    border-color:#0071bc;
    
}

.d {
    color: #4285F4;
}

.o {
    color: #DB4437;
}

.s {
    color: #F4B400;
}

.b {
    color: #0F9D58;
}

.temp {
    transform: scale(1);
    transition: all .5s ease;
}

.temp:hover {
    transform: scale(1.05);
    opacity: .8;
}
